<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/404.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>

<body>
    <img src="images/full_logo.png" />
    <br />
    <img class="illustration" src="images/404_illustration.png">
    <br />
    <span>
        Oops ! Page not found
    </span>



    <p>
        This page has not been found please try again and check your url address and spelling .
    </p>
</body>

</html>