<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication | Nextlvl.</title>
    <link rel="stylesheet" href="css/authentication.css">
</head>

<body>
    <div class="left-side">
        <img src="/images/authillustration.png" alt="illustration" id="auth_illustration">
        <div class="full_logo">
            <img src="/images/logo.png" alt="Logo" id="logo">
            <h1>Nextlvl.</h1>
        </div>
    </div>
    <div class="right-side">
        <h2>Sign In</h2>
        <form id="signInForm">
            <label>Email:</label>
            <input type="text">
            <label>Password: </label>
            <input type="text">
            <button class="google_button" onclick="googleSignIn()"> <span><img src="images/google.png" alt="google logo"
                        class="google_img"></span> <span class="google_text">Login with Google</span></button>
            <button class="normal_auth">Sign In</button>
        </form>
        <h2>Register</h2>
        <form>
            <label>Email:</label>
            <input type="text">
            <label>Password:</label>
            <input type="text">
            <button class="normal_auth">Register</button>
        </form>
    </div>


    <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-firestore.js"></script>

    <script src="/js/auth.js"></script>
    <script src="/js/firebase.js"></script>
</body>

</html>