<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
</head>

<body>
    <img class="nxtlvl" src="./images/full_logo.png">
    <div class="con">
        <img src="./images/construction_svg.svg" />
    </div>
    <h1 class="title">Under construction</h1>
    <p>The page you are looking for is currently under construction and will be ready for you to see soon , appreciate
        the support . </p>

</body>

</html>