<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homepage.css">
    <title>Home</title>
</head>

<body>
    <nav>
        <img src="" alt="">
        <h4>Nextlvl.</h4>
        <input type="text">
        <span class="iconify" data-inline="false" data-icon="bytesize:clock" style="font-size: 25px;"></span>
        <p>Time your study</p>
        <span class="iconify" data-inline="false" data-icon="codicon:graph" style="font-size: 25px;"></span>
        <p>Analytics</p>
        <span class="iconify" data-inline="false" data-icon="codicon:tools" style="font-size: 25px;"></span>
        <p>Tools for your study</p>
        <span class="iconify" data-inline="false" data-icon="fluent:reward-16-regular" style="font-size: 25px;"></span>
        <p>Rewards</p>
        <span class="iconify" data-inline="false" data-icon="ant-design:check-circle-outlined"
            style="font-size: 25px;"></span>
        <p>Upload</p>
        <span class="iconify" data-inline="false" data-icon="mdi:ladder" style="font-size: 25px;"></span>
        <p>Stay Motivated</p>
        <span class="iconify" data-inline="false" data-icon="ri:parent-line" style="font-size: 25px;"></span>
        <p>Parental controls</p>
        <span class="iconify" data-inline="false" data-icon="la:brain" style="font-size: 25px;"></span>
        <p>Tune your mind</p>
        <div class="line_border"></div>
        <div class="profile_pic"></div>
        <p>Bob feller</p>
        <p>Grade 6</p>
        <span class="iconify" data-inline="false" data-icon="ph:sign-out" style="font-size: 25px;"></span>
        <p>Sign Out</p>
        <img src="images/home_illustration.png" alt="Illustration">


    </nav>

    <button> <span><span class="iconify" data-inline="false" data-icon="mdi:crown-outline"
                style="font-size: 24px;"></span></span>Go Premium</button>

    <img src="images/background_logo.png" alt="logo">

    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</body>

</html>