<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homepage.css">
    <title>Home</title>
</head>

<body>
    <nav>
        <img src="images/full_logo.png" alt="logo" class="logo">
        <input type="text" id="searchbar" placeholder="                     Help Section">
        <div class="time_your_study">
            <span class="iconify" data-inline="false" data-icon="bytesize:clock" style="font-size: 25px;"></span>
            <p>Time your study</p>
        </div>
        <div class="analytics">
            <span class="iconify" data-inline="false" data-icon="codicon:graph" style="font-size: 25px;"></span>
            <p>Analytics</p>
        </div>
        <div class="tools_foryour_study">
            <span class="iconify" data-inline="false" data-icon="codicon:tools" style="font-size: 25px;"></span>
            <p>Tools for your study</p>
        </div>
        <div class="rewards">
            <span class="iconify" data-inline="false" data-icon="fluent:reward-16-regular"
                style="font-size: 25px;"></span>
            <p>Rewards</p>
        </div>
        <p class="upload">Upload</p>
        <span class="iconify upload_icon" data-inline="false" data-icon="ant-design:check-circle-outlined"
            style="font-size: 25px;"></span>
        <div class="stay_motivated">
            <span class="iconify" data-inline="false" data-icon="mdi:ladder" style="font-size: 25px;"></span>
            <p>Stay Motivated</p>
        </div>
        <div class="parental_controls">
            <span class="iconify" data-inline="false" data-icon="ri:parent-line" style="font-size: 25px;"></span>
            <p>Parental controls</p>
        </div>
        <div class="tune_your_mind">
            <span class="iconify" data-inline="false" data-icon="la:brain" style="font-size: 25px;"></span>
            <p>Tune your mind</p>
        </div>
        <div class="line_border"></div>
        <div class="profile_pic"></div>
        <div class="profile">
            <p>Bob feller</p>
            <p> <small>Grade 6</small></p>
        </div>
        <div class="signout_btn">
            <span class="iconify" data-inline="false" data-icon="ph:sign-out" style="font-size: 25px;"></span>
            <p>Sign Out</p>
        </div>
        <img src="images/home_illustration.png" alt="Illustration">


    </nav>

    <button class="go_premium"> <span><span class="iconify" data-inline="false" data-icon="mdi:crown-outline"
                style="font-size: 24px;"></span></span> <span class="premium_text">Go Premium </span></button>

    <img src="images/background_logo.png" alt="logo" class="background_logo">

    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</body>

</html>