<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/index.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>

<body>
    <header>
        <div class="container">
            <img class="logo" src="images/logo.png" />
            <nav>
                <ul class="navbar">
                    <li class="links">
                        <button id="button_landing" onclick="auth_redirect()"> Login and Signup </button>
                        <a href="">About</a>
                        <a href="">Features</a>
                        <a href="">Team</a>
                        <a href="">Why us ?</a>

                    </li>
                </ul>
            </nav>
        </div>

    </header>

    <img class="pic" src="images/illustration_landing.png">
    <br />
    <h1 class="head">Effective Learning</h1>
    <p class="para">
        Education is now fast , effective , fun and easy with Nextlvl.
    </p>
    <button class="learnmore">
        Learn more
    </button>
    <button class="getstarted" onclick="auth_redirect()">
        Get started
    </button>
    <br />
    <h4 class="oneliner">Built with next generation technologies</h4>


    <script src="/js/transitions.js"></script>
</body>


</html>