<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rewards</title>
    <link rel="stylesheet" href="/css/rewards.css">
</head>

<body>
    <div class="banner"></div>
    <h2 class="banner_text">Your reward balance</h2>
    <div class="totals_section">
        <div class="total-part1">
            <span class="iconify" data-inline="false" data-icon="fa-regular:money-bill-alt"
                style="color: #4723d9; font-size: 35px;"></span>
            <div class="total-1-text">
                <p>Points accumulated</p>
                <h3>45 points</h3>
            </div>
        </div>
        <div class="line_border"></div>
        <div class="total-part2">
            <span class="iconify" data-inline="false" data-icon="clarity:wallet-line"
                style="color: #4723d9; font-size: 35px;"></span>
            <div class="total-2-text">
                <p>Nexlvl Coins</p>
                <h3>15 coins</h3>
            </div>
        </div>
    </div>
    <img src="images/dollarbill.png" alt="dollar bill 3d" class="bill1">
    <img src="images/dollarbill.png" alt="dollar bill 3d" class="bill2">
    <h2 class="reward_heading1">Parental rewards</h2>
    <div class="circular_underline1"></div>
    <h2 class="reward_heading2">Powerups</h2>
    <div class="circular_underline2"></div>
    <div class="body_main">
        <div class="parental_reward_section">
            <div class="parental_reward_card">
                <p>Mcdonalds logo</p>
                <h2>McDonalds</h2>
                <p>Meal</p>
                <p>5 coins</p>
            </div>
            <div class="parental_reward_card">
                <p>Mcdonalds logo</p>
                <h2>McDonalds</h2>
                <p>Meal</p>
                <p>5 coins</p>
            </div>
            <div class="parental_reward_card">
                <p>Mcdonalds logo</p>
                <h2>McDonalds</h2>
                <p>Meal</p>
                <p>5 coins</p>
            </div>
            <div class="parental_reward_card">
                <p>Mcdonalds logo</p>
                <h2>McDonalds</h2>
                <p>Meal</p>
                <p>5 coins</p>
            </div>
        </div>
        <div class="powerup_full_section">
            <div class="circular_connctor"></div>
            <div class="circular_connctor"></div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
            <div class="powerup_section">
                <div class="powerup_show"></div>
                <p>10 points</p>
            </div>
        </div>
    </div>


    </div>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</body>

</html>