<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Motivated</title>
    <link rel="stylesheet" href="/css/stay_motivated.css">
</head>

<body>
    <div class="leaderboard">
        <h2 class="leaderboard_head">Leaderboard</h2>
        <div class="circular_underline"></div>
        <div class="profile_section">
            <div class="profile_img">
                <p style="margin-left: 2rem;font-size: 18px;margin-bottom: 0.25rem;margin-top: 7.5rem;">Bob Feller</p>
                <p style="margin-left: 0.5rem;margin-bottom: 0.25rem;">@bobfellerdaboss</p>
                <p style="margin-left: -0.5rem;margin-bottom: 0.25rem;">Score (Coins + Points): 60</p>
            </div>
        </div>
        <div class="leaderboard_section2">
            <p style="margin-top: 1rem; margin-left: 1rem;">2nd</p>
            <img src="images/bobfeller.png" alt="pic">
            <div class="user_info" style="margin-left: 0.5rem; margin-top: 0.25rem;">
                <p>Bob feller</p>
                <small style="font-size: 12px;">@bobfellerdaboss</small>
            </div>
            <p style="margin-left: 4.75rem; margin-top: 1rem; font-size: 14px; color: #FD3F81;">Score:52</p>
        </div>
        <div class="leaderboard_section3">
            <p style="margin-top: 1rem; margin-left: 1rem;">3rd</p>
            <img src="images/bobfeller.png" alt="pic">
            <div class="user_info" style="margin-left: 0.5rem; margin-top: 0.25rem;">
                <p>Bob feller</p>
                <small style="font-size: 12px;">@bobfellerdaboss</small>
            </div>
            <p style="margin-left: 4.75rem; margin-top: 1rem; font-size: 14px; color: #FD3F81;">Score:52</p>
        </div>
        <div class="leaderboard_section4">
            <p style="margin-top: 1rem; margin-left: 1rem;">4th</p>
            <img src="images/bobfeller.png" alt="pic">
            <div class="user_info" style="margin-left: 0.5rem; margin-top: 0.25rem;">
                <p>Bob feller</p>
                <small style="font-size: 12px;">@bobfellerdaboss</small>
            </div>
            <p style="margin-left: 4.75rem; margin-top: 1rem; font-size: 14px; color: #FD3F81;">Score:52</p>
        </div>
    </div>
    <div class="leaderboard_section5">
        <p style="margin-top: 1rem; margin-left: 1rem;">5th</p>
        <img src="images/bobfeller.png" alt="pic">
        <div class="user_info" style="margin-left: 0.5rem; margin-top: 0.25rem;">
            <p>Bob feller</p>
            <small style="font-size: 12px;">@bobfellerdaboss</small>
        </div>
        <p style="margin-left: 4.75rem; margin-top: 1rem; font-size: 14px; color: #FD3F81;">Score:52</p>
    </div>
    </div>
    <div class="leaderboard_section6">
        <p style="margin-top: 1rem; margin-left: 1rem;">6th</p>
        <img src="images/bobfeller.png" alt="pic">
        <div class="user_info" style="margin-left: 0.5rem; margin-top: 0.25rem;">
            <p>Bob feller</p>
            <small style="font-size: 12px;">@bobfellerdaboss</small>
        </div>
        <p style="margin-left: 4.75rem; margin-top: 1rem; font-size: 14px; color: #FD3F81;">Score:52</p>
    </div>
    </div>
    <div class="leaderboard_section7">
        <p style="margin-top: 1rem; margin-left: 1rem;">7th</p>
        <img src="images/bobfeller.png" alt="pic">
        <div class="user_info" style="margin-left: 0.5rem; margin-top: 0.25rem;">
            <p>Bob feller</p>
            <small style="font-size: 12px;">@bobfellerdaboss</small>
        </div>
        <p style="margin-left: 4.75rem; margin-top: 1rem; font-size: 14px; color: #FD3F81;">Score:52</p>
    </div>
    </div>
    <div class="leaderboard_section8">
        <p style="margin-top: 1rem; margin-left: 1rem;">8th</p>
        <img src="images/bobfeller.png" alt="pic">
        <div class="user_info" style="margin-left: 0.5rem; margin-top: 0.25rem;">
            <p>Bob feller</p>
            <small style="font-size: 12px;">@bobfellerdaboss</small>
        </div>
        <p style="margin-left: 4.75rem; margin-top: 1rem; font-size: 14px; color: #FD3F81;">Score:52</p>
    </div>
    </div>
    <div class="leaderboard_section9">
        <p style="margin-top: 1rem; margin-left: 1rem;">9th</p>
        <img src="images/bobfeller.png" alt="pic">
        <div class="user_info" style="margin-left: 0.5rem; margin-top: 0.25rem;">
            <p>Bob feller</p>
            <small style="font-size: 12px;">@bobfellerdaboss</small>
        </div>
        <p style="margin-left: 4.75rem; margin-top: 1rem; font-size: 14px; color: #FD3F81;">Score:52</p>
    </div>
    </div>
    <div class="leaderboard_section10">
        <p style="margin-top: 1rem; margin-left: 1rem;">10th</p>
        <img src="images/bobfeller.png" alt="pic">
        <div class="user_info" style="margin-left: 0.5rem; margin-top: 0.25rem;">
            <p>Bob feller</p>
            <small style="font-size: 12px;">@bobfellerdaboss</small>
        </div>
        <p style="margin-left: 4.75rem; margin-top: 1rem; font-size: 14px; color: #FD3F81;">Score:52</p>
    </div>
    <div class="divider"></div>

    <h1>Groups & Meetings</h1>
    <div class="divider2"></div>
    <button class="plus_btn"> <img src="/images/Plus.png" alt=""> </button>
    <div class="meetings">
        <div class="meeting_secs m1">
            <p>4 o clock meeting study</p>
            <p class="timeslot"> 4:00pm - 5:00pm</p>
        </div>
        <div class="meeting_secs m2">
            <p>4 o clock meeting study</p>
            <p class="timeslot"> 4:00pm - 5:00pm</p>
        </div>
        <div class="meeting_secs m3">
            <p>4 o clock meeting study</p>
            <p class="timeslot"> 4:00pm - 5:00pm</p>
        </div>
        <div class="meeting_secs m4">
            <p>4 o clock meeting study</p>
            <p class="timeslot"> 4:00pm - 5:00pm</p>
        </div>
        <div class="meeting_secs m5">
            <p>4 o clock meeting study</p>
            <p class="timeslot"> 4:00pm - 5:00pm</p>
        </div>
        <div class="meeting_secs m6">
            <p>4 o clock meeting study</p>
            <p class="timeslot"> 4:00pm - 5:00pm</p>
        </div>
        <div class="meeting_secs m7">
            <p>4 o clock meeting study</p>
            <p class="timeslot"> 4:00pm - 5:00pm</p>
        </div>
        <div class="meeting_secs m8">
            <p>4 o clock meeting study</p>
            <p class="timeslot"> 4:00pm - 5:00pm</p>
        </div>
        <div class="meeting_secs m9">
            <p>4 o clock meeting study</p>
            <p class="timeslot"> 4:00pm - 5:00pm</p>
        </div>
    </div>
    <div class="middle_divider"></div>
</body>

</html>