<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Motivated</title>
    <link rel="stylesheet" href="/css/stay_motivated.css">
</head>

<body>
    <div class="leaderboard">
        <h2 class="leaderboard_head">Leaderboard</h2>
        <div class="circular_underline"></div>
        <div class="profile_section">
            <div class="profile_img">
                <p style="margin-left: 2rem;font-size: 18px;margin-bottom: 0.25rem;margin-top: 7.5rem;">Bob Feller</p>
                <p style="margin-left: 0.5rem;margin-bottom: 0.25rem;">@bobfellerdaboss</p>
                <p style="margin-left: -0.75rem;margin-bottom: 0.25rem;">Score (Coins + Points): 60</p>
            </div>
        </div>
        <div class="leaderboard_section2">
            <p>2nd</p>
            <img src="images/bobfeller.png" alt="pic">
            <div class="user_info" style="margin-left: 0.5rem; margin-top: 0.25rem;">
                <p>Bob feller</p>
                <small style="font-size: 12px;">@bobfellerdaboss</small>
            </div>
            <p style="margin-left: 4.75rem; margin-top: 1rem; font-size: 14px; color: #FD3F81;">Score:52</p>
        </div>
    </div>
</body>

</html>