<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/timer.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timerpage</title>
</head>

<body>
    <div class="clock">
        <p class="hours format">
            Hours
        </p>
        <p class="minutes format">
            Minutes
        </p>
        <p class="seconds format">
            Seconds
        </p>
        <p class="h format">
            16
        </p>
        <p class="m format">
            45
        </p>
        <p class="s format">
            16
        </p>

    </div>
    <div class="tot">
        <h2 class="head" style="">Points this session :</h2>
        <p class="coins style">
            Nextlvl coins : 7
        </p>
        <p class="points style">
            Points : 14
        </p>
        <p class="score style">
            Score : 21
        </p>
    </div>
    <button class="strt">
        <h2 class="txt">Start !</h2>
    </button>
</body>

</html>