<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Tools_for_your_study.css">
</head>

<body>
    <img class="deadphone" src="images/headphones.png" />
    <h1>Listen to some tunes while you study !</h1>
    <button>Ocean waves on the seashore</button>
    <button>Lofi hi hop radio sounds</button>
    <button>Library sounds and ambience</button>
    <button>Gentle rain:Rainforest</button>
    <button>Ocean waves on the seashore</button>
    <button>Ocean waves on the seashore</button>
</body>

</html>