<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools for your study</title>
    <link rel="stylesheet" href="/css/Tools_for_your_study.css">
</head>

<body>

    <div class="triangle_clip"></div>
    <img class="deadphone" src="images/headphones.png" />
    <h1>Listen to some tunes while you study !</h1>
    <ul class="all">
        <li class="uno">
            <button> Ocean waves on the seashore</button>
            <button> Lofi hi hop radio sounds</button>
            <button> Library sounds and ambience</button>
            <button> Gentle rain:Rainforest</button>
            <button> Ocean waves on the seashore</button>
            <button> Ocean waves on the seashore</button>
        </li>

    </ul>
    <button class="playnow">
        <span class="iconify" data-inline="false" data-icon="codicon:play-circle"
            style="color: #454e6a; font-size: 50px;"></span>
    </button>
    <p class="txtff">Popular Artists</p>
    <ul class="allart1">
        <li class="artists1">
            <button>

            </button>
        </li>
        <li class="artists2">
            <button>

            </button>
        </li>
        <li class="artists3">
            <button>

            </button>
        </li>
    </ul>



    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</body>

</html