<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools for your study</title>
    <link rel="stylesheet" href="/css/Tools_for_your_study.css">
</head>

<body>

    <div class="triangle_clip"></div>
    <img class="deadphone" src="images/headphones.png" />
    <h1>Listen to some tunes while you study !</h1>


    </ul>

    <iframe class="chill" width="1280" height="720"
        src="https://www.youtube.com/embed/lTRiuFIWV54?list=PL6NdkXsPL07KN01gH2vucrHCEyyNmVEx4" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </iframe>

    <iframe width="1280" height="720"
        src="https://www.youtube.com/embed/wAPCSnAhhC8?list=PL6NdkXsPL07KN01gH2vucrHCEyyNmVEx4" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <iframe width="1280" height="720"
        src="https://www.youtube.com/embed/BTYAsjAVa3I?list=PL6NdkXsPL07KN01gH2vucrHCEyyNmVEx4" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <iframe width="1280" height="720"
        src="https://www.youtube.com/embed/-FlxM_0S2lA?list=PL6NdkXsPL07KN01gH2vucrHCEyyNmVEx4" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <ul class="allart1">
        <li class="artists1">
            <button>
            </button>
        </li>
        <li class="artists2">
            <button>
            </button>
        </li>
        <li class="artists3">
            <button>
            </button>
        </li>
    </ul>



    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</body>

</html