<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/Upload.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>

<body>
    <h2 class="textline1">Upload your files</h2>
    <div class="divider"></div>
    <div class="uplbox"><img class="uppy" src="images/folder.png" />
        <h3 class="txtinc">Drag your files here or browse</h3>
    </div>
    <h2 class="blue">Files</h2>
    <p class="th1 ths">Name</p>
    <p class="th2 ths">File type</p>
    <p class="th3 ths">Date</p>
    <p class="th4 ths">Subject</p>
    <div class="bluebar"></div>
    <div class="types">
        <p>Atmosphere learn</p>
        <p>metals and nonmetals</p>
        <p>healthy diet</p>
    </div>
</body>

</html>