@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;900&display=swap');

body {
    margin: 0;
    font-family: Montserrat;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    width: 60px;
    height: 60px;
    float: left
}

.nav {
    float: right;
    list-style-type: none;
    margin-left: 5rem;
}

nav ul {
    margin-right: 3rem;
}

nav li a {
    text-decoration: none;
    margin-left: 85px;
    float: right;
    color: black;


}

nav a:hover {
    color: black;
}

.pic {
    float: right;
    margin-right: 20px;
}

#button_landing {
    float: right;
    background-color: #68E1FD;
    opacity: 75%;
    border: none;
    border-radius: 10px;
    font-family: Montserrat;
    height: 45px;
    width: 200px;
    margin-left: 200px;
    margin-right: -14rem;

}

.head {
    margin-left: 80px;
    padding-top: 200px;
}

.para {
    margin-left: 12px;
    text-align: left;
}

header {
    line-height: 40px;
    margin-right: 105px;
}

.learnmore {
    width: 300px;
    height: 50px;
    margin-left: 80px;
    background-color: #4723D9;
    opacity: 75%;
    color: aliceblue;
    font-size: 1.7rem;
    border: none;
    border-radius: 10px;
    margin-top: 25px;

}

.getstarted {
    width: 300px;
    height: 50px;
    margin-left: 80px;
    background-color: white;
    opacity: 75%;
    color: #4723D9;
    font-size: 1.7rem;
    border-color: #4723D9;
    border-radius: 10px;
    margin-top: 25px;
}

.oneliner {
    margin-top: 145px;
    font-style: italic;
    font-weight: 300;
    font-size: ;
    margin-left: 4rem;
}