@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;900&display=swap');

body {
    margin: 0;
    font-family: Montserrat;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    width: 40px;
    height: 40px;
    float: left
}

.nav {
    float: right;
    list-style-type: none;

}

nav li a {
    text-decoration: none;
    margin-left: 75px;
    float: right;
    color: black;

}

nav a:hover {
    color: black;
}

.pic {
    float: right;
}

.but {
    float: right;
    background-color: aqua;
    border-radius: 10px;
    font-family: Montserrat;
}

.head {
    margin-left: 80px;
    padding-top: 200px;
}