@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;900&display=swap');

.textline1 {
    font-family: Montserrat;
    margin-left: 18rem;
    font-weight: 400;
}

.divider {
    background-color: #CCCCCD;
    width: 5px;
    height: 53vw;
    margin-top: -3rem;
    margin-left: 50rem;
}

.uplbox {
    border: 1px dashed #5787FF;
    box-sizing: border-box;
    border-radius: 15px;
    width: 50vw;
    height: 17.5vw;
    margin-left: 0px;
    position: absolute;
    top: 5rem;
    left: 2.5rem;
}

.uppy {
    margin-left: 20rem;
    margin-top: 5rem;
}

.txtinc {
    margin-left: 13rem;
    font-weight: 300;
}

body {
    font-family: 'Montserrat';
}

.blue {
    color: #5E8BFF;
    position: absolute;
    left: 2rem;
    top: 27rem;

}

.bluebar {
    height: 3px;
    width: 47rem;
    background-color: #95B8FF;
    position: absolute;
    top: 35rem;
    left: 2rem;
}

/*uttilitys classes*/
.ths {
    color: #1A2547;
    font-weight: 300;
}

.th1 {
    position: absolute;
    top: 32rem;
    left: 2rem;
}

.th2 {
    position: absolute;
    top: 32rem;
    left: 25rem;
}

.th3 {
    position: absolute;
    top: 32rem;
    left: 36rem
}

.th4 {
    position: absolute;
    top: 32rem;
    left: 44rem;
}

.util {
    color: #898989;
}

.para1 {
    position: absolute;
    top: 35rem;
    left: 2rem;
}

.para2 {
    position: absolute;
    top: 37rem;
    left: 2rem;
}

.para3 {
    position: absolute;
    top: 39rem;
    left: 2rem;
}

.pic1 {
    position: absolute;
    top: 35rem;
    left: 26.2rem;
}

.pic2 {
    position: absolute;
    top: 37rem;
    left: 26.2rem;
}

.pic3 {
    position: absolute;
    top: 39rem;
    left: 26.2rem;
}

.bate {
    color: #898989;
}

.uno {
    position: absolute;
    top: 35rem;
    left: 35.6rem;
}

.dos {
    position: absolute;
    top: 37rem;
    left: 35.6rem;
}

.tres {
    position: absolute;
    top: 39rem;
    left: 35.6rem;
}

.jects {
    color: #898989;

}

.sub1 {
    position: absolute;
    top: 35rem;
    left: 45.3rem;
}

.sub2 {
    position: absolute;
    top: 37rem;
    left: 45.3rem;
}

.sub3 {
    position: absolute;
    top: 39rem;
    left: 45.3rem;
}

.etern {
    font-weight: 300;
    font-size: 16px;
    position: absolute;
    top: -1.5rem;
    left: 67.5rem;
}

.instructions {
    margin-left: -1rem;
    position: absolute;
    top: 20rem;
    left: -14rem;
}

.headd {
    position: absolute;
    top: 10rem;
    left: -15rem;
    font-style: italic;
    font-weight: 600;
}

.illustration {
    position: absolute;
    width: 361px;
    height: 342px;
    left: 1079px;
    top: -7px;


}