@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;900&display=swap');

.textline1 {
    font-family: Montserrat;
    margin-left: 18rem;
    font-weight: 400;
}

.divider {
    background-color: #CCCCCD;
    width: 5px;
    height: 53vw;
    margin-top: -3rem;
    margin-left: 50rem;
}

.uplbox {
    border: 1px dashed #5787FF;
    box-sizing: border-box;
    border-radius: 15px;
    width: 50vw;
    height: 17.5vw;
    margin-left: 0px;
    position: absolute;
    top: 5rem;
    left: 2.5rem;
}

.uppy {
    margin-left: 20rem;
    margin-top: 5rem;
}

.txtinc {
    margin-left: 13rem;
    font-weight: 300;
}

body {
    font-family: 'Montserrat';
}

.blue {
    color: #5E8BFF;
    position: absolute;
    left: 2rem;
    top: 27rem;

}

.bluebar {
    height: 3px;
    width: 47rem;
    background-color: #95B8FF;
    position: absolute;
    top: 35rem;
    left: 2rem;
}

/*uttilitys classes*/
.ths {
    color: #1A2547;
    font-weight: 300;
}

.th1 {
    position: absolute;
    top: 32rem;
    left: 2rem;
}

.th2 {
    position: absolute;
    top: 32rem;
    left: 25rem;
}

.th3 {
    position: absolute;
    top: 32rem;
    left: 36rem
}

.th4 {
    position: absolute;
    top: 32rem;
    left: 44rem;
}